datasource/jaxb/src/main/resources/model.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.opennms.org/xsd/oce/model/v1.0.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:this="http://xmlns.opennms.org/xsd/oce/model/v1.0.0"
        elementFormDefault="qualified">
    <annotation>
        <documentation>XML schema for the OpenNMS Correlation Model</documentation>
    </annotation>

    <element name="meta-model">
        <annotation>
            <documentation>Top-level element for a meta-model</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Model object definitions -->
                <element ref="this:model-object-def" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

    <element name="model-object-def">
        <annotation>
            <documentation>Definition for a model object type</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="this:parent-def-ref" minOccurs="1" maxOccurs="unbounded" />
                <element ref="this:peer-def-ref" minOccurs="0" maxOccurs="unbounded" />
                <element ref="this:relative-def-ref" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
            <!-- type -->
            <attribute name="type" type="string" use="required" />
        </complexType>
    </element>

    <element name="parent-def-ref">
        <annotation>
            <documentation>Parent Relationship</documentation>
        </annotation>
        <complexType>
            <!-- type -->
            <attribute name="type" type="string" use="required" />
        </complexType>
    </element>
    <element name="peer-def-ref">
        <annotation>
            <documentation>Peer Relationship</documentation>
        </annotation>
        <complexType>
            <!-- type -->
            <attribute name="type" type="string" use="required" />
        </complexType>
    </element>

    <element name="relative-def-ref">
        <annotation>
            <documentation>Relative Relationship</documentation>
        </annotation>
        <complexType>
            <!-- type -->
            <attribute name="type" type="string" use="required" />
        </complexType>
    </element>

    <!-- Inventory -->
    <element name="inventory">
        <annotation>
            <documentation>Top-level element for the inventory</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Model object instances -->
                <element ref="this:model-object-entry" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

    <element name="peer-ref">
        <annotation>
            <documentation>Peer Reference</documentation>
        </annotation>
        <complexType>
            <attribute name="type" type="string" use="required" />
            <attribute name="id" type="string" use="required" />
            <attribute name="endpoint" type="string" use="required" /> <!-- TODO: Only allow A or Z -->
        </complexType>
    </element>

    <element name="relative-ref">
        <annotation>
            <documentation>Relative Reference</documentation>
        </annotation>
        <complexType>
            <attribute name="type" type="string" use="required" />
            <attribute name="id" type="string" use="required" />
        </complexType>
    </element>

    <element name="model-object-entry">
        <annotation>
            <documentation>Definition for a model object instance</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="this:peer-ref" minOccurs="0" maxOccurs="2" />
                <element ref="this:relative-ref" minOccurs="0" maxOccurs="unbounded" />
            </sequence>

            <!-- id -->
            <attribute name="id" type="string" use="required" />
            <!-- type -->
            <attribute name="type" type="string" use="required" />
            <!-- subtype -->
            <attribute name="subtype" type="string" use="optional" />
            <!-- friendly-name -->
            <attribute name="friendly-name" type="string" use="optional" />

            <!-- parent type -->
            <attribute name="parent-type" type="string" use="required" />
            <!-- parent id -->
            <attribute name="parent-id" type="string" use="required" />
        </complexType>
    </element>

    <element name="event">
        <annotation>
            <documentation>Definition for an instance of an event</documentation>
        </annotation>
        <complexType>
            <attribute name="source" type="string" use="optional" />
            <attribute name="severity" type="this:severity" use="required" />
            <attribute name="id" type="string" use="required" />
            <attribute name="time" type="long" use="required" />
            <attribute name="summary" type="string" use="required" />
            <attribute name="description" type="string" use="required" />
        </complexType>
    </element>

    <element name="alarms">
        <annotation>
            <documentation>Top-level element for a list of alarms</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Alarm definition -->
                <element ref="this:alarm" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

    <element name="alarm">
        <annotation>
            <documentation>Definition for an instance of an alarm</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="this:event" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
            <attribute name="id" type="string" use="required" />
            <attribute name="first-event-time" type="long" use="required" />
            <attribute name="last-event-time" type="long" use="required" />
            <attribute name="last-severity" type="this:severity" use="required" />
            <attribute name="summary" type="string" use="required" />
            <attribute name="description" type="string" use="required" />

            <attribute name="inventory-object-id" type="string" use="optional" />
            <attribute name="inventory-object-type" type="string" use="optional" />
        </complexType>
    </element>

    <simpleType name="severity" final="restriction" >
        <restriction base="string">
            <enumeration value="critical" />
            <enumeration value="major" />
            <enumeration value="minor" />
            <enumeration value="warning" />
            <enumeration value="normal" />
            <enumeration value="cleared" />
            <enumeration value="indeterminate" />
        </restriction>
    </simpleType>

    <element name="situations">
        <annotation>
            <documentation>Top-level element for a list of situations</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Situation definitions -->
                <element ref="this:situation" minOccurs="0" maxOccurs="unbounded" />
            </sequence>
        </complexType>
    </element>

    <element name="situation">
        <annotation>
            <documentation>Definition for an instance of a situation</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="this:alarm-ref" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
            <attribute name="source" type="string" use="optional" />
            <attribute name="severity" type="this:severity" use="required" />
            <attribute name="id" type="string" use="required" />
            <attribute name="creation-time" type="long" use="required" />
            <attribute name="summary" type="string" use="required" />
            <attribute name="description" type="string" use="required" />
        </complexType>
    </element>

    <element name="alarm-ref">
        <annotation>
            <documentation>Alarm Reference</documentation>
        </annotation>
        <complexType>
            <sequence>
                <element ref="this:alarm-ref" minOccurs="1" maxOccurs="unbounded" />
            </sequence>
            <attribute name="id" type="string" use="required" />
        </complexType>
    </element>

    <element name="data-set-map">
        <annotation>
            <documentation>Top-level element for the container of mappings between data sets</documentation>
        </annotation>

        <complexType>
            <sequence>
                <element ref="this:event-map" minOccurs="0" maxOccurs="1"/>
                <element ref="this:alarm-map" minOccurs="0" maxOccurs="1"/>
                <element ref="this:situation-map" minOccurs="0" maxOccurs="1"/>
                <element ref="this:inventory-map" minOccurs="0" maxOccurs="1"/>
            </sequence>
            <attribute name="data-set-a" type="string" use="required"/>
            <attribute name="data-set-b" type="string" use="required"/>
        </complexType>
    </element>

    <element name="a-to-b-mapping">
        <annotation>
            <documentation>Definition for an instance of a mapping between an Id in data set A and an Id in data set B
            </documentation>
        </annotation>
        <complexType>
            <attribute name="a-id" type="string" use="required"/>
            <attribute name="b-id" type="string" use="required"/>
        </complexType>
    </element>

    <element name="event-map">
        <annotation>
            <documentation>Top-level element for a list of event mappings</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Event mapping definition -->
                <element ref="this:a-to-b-mapping" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="alarm-map">
        <annotation>
            <documentation>Top-level element for a list of alarm mappings</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Alarm mapping definition -->
                <element ref="this:a-to-b-mapping" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="situation-map">
        <annotation>
            <documentation>Top-level element for a list of situation mappings</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Situation mapping definition -->
                <element ref="this:a-to-b-mapping" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="inventory-map">
        <annotation>
            <documentation>Top-level element for a list of inventory mappings</documentation>
        </annotation>

        <complexType>
            <sequence>
                <!-- Inventory mapping definition -->
                <element ref="this:a-to-b-inventory-mapping" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="a-to-b-inventory-mapping">
        <annotation>
            <documentation>Definition for an instance of an inventory mapping</documentation>
        </annotation>
        <complexType>
            <attribute name="a-type" type="string" use="required"/>
            <attribute name="a-id" type="string" use="required"/>
            <attribute name="b-type" type="string" use="required"/>
            <attribute name="b-id" type="string" use="required"/>
        </complexType>
    </element>

</schema>
